<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC</h5>
          <p class="grey-text text-lighten-4">Equipo No.7 - Grupo No.25.</p>
        </div>
        <div class="col l4 offset-l2 s12">
         <h5 class="white-text">Integrantes del equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Elkin Ramos</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Camila Quiroga</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Hanz Moreno</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Carlos Mejia</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Sergio Gallego</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row px-md-3">
        <div class="col-sm-6 col-lg-3 py-3">
            <div class="card-service wow fadeInUp">
              <img class="responsive-img" width="60" src="http://pngimg.com/uploads/facebook_logos/facebook_logos_PNG19753.png" alt="logo facebook">
              <img class="responsive-img" width="60" src="http://pngimg.com/uploads/twitter/twitter_PNG3.png" alt="logo twitter">
              <img class="responsive-img" width="50" src="http://pngimg.com/uploads/instagram/instagram_PNG10.png" alt="logo instagram">
        </div>
      </div>
    </div>
  </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">All right reserved</a>
      </div>
    </div>
  </footer>
